include doorctl/templates/*
recursive-include doorctl/static *.css *.map *.svg *.ttf *.eot *.js *.png *.jpg *.gif *.ico *.JPG *.webp *.jpeg *.scss *.map *.woff *.woff2
recursive-include doorctl/blueprints/doorctl.static *.css *.map *.svg *.ttf *.eot *.js *.png *.jpg *.gif *.ico *.JPG *.webp *.jpeg *.scss *.map *.woff *.woff2 *.txt
