<head>
	<!-- Core CSS -->
	<link rel="stylesheet" href="path_to_codemirror/lib/codemirror.css">

	<!-- Vim KeyMap -->
	<script src="path_to_codemirror/keymap/vim.js"></script>

	<!-- Mode (e.g., JavaScript) -->
	<script src="path_to_codemirror/mode/javascript/javascript.js"></script>

	<!-- Theme (e.g., "monokai") -->
	<link rel="stylesheet" href="path_to_codemirror/theme/monokai.css">

	<!-- Core JS -->
	<script src="path_to_codemirror/lib/codemirror.js"></script>
</head>

<body>
	<form action="/accesscontrol/configedit/save" method="post">
	    <textarea name="content" id="editor">{{ content }}</textarea>
	    <button type="submit">Save</button>
	</form>

	<script>

	    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
	        mode: "text",
	        lineNumbers: true,
	        keyMap: "vim",
	        theme: "vim"
	    });
	    editor.setSize("800px", "600px");
	</script>
</body>